<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>广东外语外贸大学教学协作平台</title>
<script type="text/javascript" src="./public/js/jquery-3.1.0.min.js"></script>
<script type="text/javascript" src="./public/js/common.js?v=1.3"></script>
<link href="./public/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<link href="./public/css/common.css?v=1.6" rel="stylesheet" type="text/css" />
</head>

<body>
<div class="head_guide">
	<div class="head_main clearfix">
		<div class="head_left">
			<h1><a href="?control=index">首页</a></h1>
		</div>
		<div class="head_center">
			<div class="search clearfix">
				<div class="select">
					<span>课程</span>
					<ul class="slide_box">
						<li>课程</li>
						<li>教师</li>
					</ul>
				</div>
				<input type="text" id="search_text" />
				<img src="public/img/search.png" id="search_button"></img>
			</div>
		</div>
		<div class="head_right clearfix">
			<div class="unlog clearfix">
				<a href="index.php?control=login">登录</a>
				<a href="index.php?control=register">注册</a>
			</div>
			<div class="logged clearfix">
				<span>您好，</span><a href="index.php?control=personal"></a>
				<a href="index.php?control=login&action=logout" class="logout">退出</a>
			</div>
		</div>
	</div>
</div>