@CHARSET "UTF-8";

/*注册CSS*/
.register_box{
	width: 90%;
	min-width: 960px;
	margin: 10px auto;
	border: 1px solid #CCCCCC;
	border-radius: 5px;
	background-color: #F1F1F1;
}
.register_box h2{
	text-align: center;
	margin-top: 30px;
	margin-bottom: 20px;
}
.register_box .choose_box{
	width: 400px;
	height: 48px;
	margin: 0 auto;
}
.register_box .register_input_box{
	width: 400px;
	height: 48px;
	border: 1px solid #CCCCCC;
	border-radius: 5px;
	background-color: #FFFFFF;
	margin: 0 auto;
	text-indent: 10px;
}
.register_box .register_input_box span{
	height: 48px;
	line-height: 48px;
}
.register_box .register_input_box input[type=text], 
.register_box .register_input_box input[type=password]{
	width: 320px;
	height: 36px;
	margin-left: 5px;
	font-size: 14px;
	border: none;
	outline: none;
}
.register_box input[type=submit]{
	width: 400px;
	height: 48px;
	border: 1px solid #3399FF;
	border-radius: 5px;
	background-color: #FFFFFF;
	margin: 20px auto;
	display: block;
	font-size: 22px;
	color: #3399FF;
	cursor: pointer;
}
.register_box input[type=submit]:hover{
	color: #55BBFF;
	border: 1px solid #55BBFF;
}
.register_box p{
	width: 400px;
	height: 20px;
	line-height: 20px;
	margin: 0 auto;
	font-size: 12px;
	color: #FF0000;
	text-indent: 10px;
}
a.to_log{
	width: 200px;
	height: 50px;
	line-height: 50px;
	margin: 0 auto;
	text-align: center;
	cursor: pointer;
	color: #0099CC;
}
a.to_log:hover{
	text-decoration: underline;
}