<div class="line-1 clearfix">
	<span>选择当前学期：</span>
	<div class="term_box">
		<h4>{$current} <i class="fa fa-caret-down"></i>
		</h4>
		<ul class="current_term">
			
		</ul>
	</div>
	<div id="add_term">添加学期</div>
</div>
<div class="filter clearfix">
	<label>查询学期：</label>
	<h3 class="clearfix"><p></p><i class="fa fa-caret-down"></i></h3>
	<ul class="term_select">
		<li></li>
		{foreach from=$terms item=i}
		<li>{$i.term}</li>
		{/foreach}
	</ul>
	<a id="add_course" href="index.php?control=admin&action=addCourse">添加课程</a>
</div>
<div class="course_box">
	<table>
		<tr>
			<th>课程名</th>
			<th>课程教师</th>
			<th>上课时间</th>
			<th>学期</th>
			<th>修改课程</th>
		</tr>
		{foreach from=$courses item=i}
		<tr>
			<td>{$i.course_name}</td>
			<td>{$i.course_teacher}</td>
			<td>{$i.course_time}</td>
			<td>{$i.course_term}</td>
			<td>
				<a class="edit_button" href="?control=admin&action=editCourse&id={$i.id}">修改</a>
			</td>
		</tr>
		{/foreach}
	</table>
</div>