{include file='view/common/head_for_index.html'}
<link href="public/css/courseSearch.css?v=1.0" rel="stylesheet" type="text/css" />
<div class="main">
	<div class="sort">
	</div>
	<div class="course_list">
		<div class="title">
			<h3>课程</h3>
		</div>
		<ul class="list">
			
		</ul>
		<ul class="page clearfix">
			
		</ul>
		<input type="hidden" id="cur_ten" />
	</div>
</div>
<script type="text/javascript" src="./public/js/courseSearch.js?v=1.0"></script>
{include file='view/common/foot.html'}