{include file='view/common/head_for_log.html'}
<link href="public/css/get_password.css?v=1.1" rel="stylesheet" type="text/css" />
<div class="get_password_box">
	<h2>找回密码</h2>
	<form class="sub_email">
		<div class="choose_box">
			<input type="radio" class="choose" id="student" name="type" value="student" checked="checked" /> <label for="student">学生</label>
			<input type="radio" class="choose" id="teacher" name="type" value="teacher" /> <label for="teacher">教师</label>
		</div>
		<div class="get_password_input_box">
			<span>邮箱地址</span>
			<input type="text" placeholder="请输入邮箱地址" id="email" />
		</div>
		<p class="email"></p>
		<input type="submit" value="发送邮件" />
		<a href="?control=login" class="to_log">返回登录</a>
	</form>
	<div class="alert_box">发送成功<img src="public/img/finish.png" /></div>
</div>
<script type="text/javascript" src="./public/js/getPassword.js?v=1.0"></script>
{include file='view/common/foot.html'}