{if $teacher_list}
{foreach from=$teacher_list item=i}
<li class="clearfix">
	<a href="index.php?control=teacher&id={$i.id}">
		<div class="teacher_img">
			{if $i.teacher_image eq null || $i.teacher_image eq ''}
			<img src="public/img/default.png" />
			{else}
			<img src="{$i.teacher_image}" />
			{/if}
		</div>
		<div class="teacher_info">
			<p>姓名：{$i.teacher_name}</p>
			{if $i.teacher_info eq NULL || $i.teacher_info eq ''}
			<div class="limit">简介：暂无</div>
			{else}
			<div class="limit">{$i.teacher_info}</div>
			{/if}
		</div>
	</a>
</li>
{/foreach}
{/if}
<script type="text/javascript">
$(function() {
	function limit(str) {
		if(str.length > 10) {
			str = str.substring(0, 10) + "...";
		}
		return str;
	}
	
	function htmlFilter(html) {
		var _replace = html.replace(/<\/?.+?>/g,"");
		var text = _replace.replace(/ /g,"");
		return text;
	}
	
	for(var i = 0; i < $(".limit").length; i ++) {
		$(".limit").text(limit(htmlFilter($(".limit").eq(i).html())));
	}
})
</script>